@charset "utf-8";
/* CSS Document */
html, body{
	margin: 0px;
	padding: 0px;
}

body{
	padding: 2%;
	background-size: 100% 100%;
	background-color: #fff;
	font-family: Arial;
	color: #000;
	overflow: hidden;
}

.app-mt-10 {
	margin-bottom: 10px;
}

.app-mb-10 {
	margin-bottom: 10px;
}
